<ion-content padding login>

  <div id="center-box">

    <img src="./assets/icon/favicon.png" alt="">
    <ion-list>
      <ion-item>
      <ion-input type="text" placeholder="E-mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-button full class='submit_button'> Entrar </ion-button>
  </ion-list>
  <span 
  style='text-align:center'>Não possui uma conta? <a href="/signup">Cadastre-se já</a></span>
</div>
  
</ion-content>
