<ion-header>
  <ion-toolbar>
    
    <ion-grid>
      <ion-row>
        <ion-col>
            <ion-menu-button></ion-menu-button>
        </ion-col>
        <ion-col width-33>
          <ion-title text-center>
            APP TEMPLATER
          </ion-title>
        </ion-col>
        <ion-col width-33></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-list>
        <ion-card>
            <div class='img-container'>
              <ion-img src="https://picsum.photos/200/130/?random"></ion-img>
              <ion-img src="https://picsum.photos/200/130/?random"></ion-img>

              <ion-img src="https://picsum.photos/200/130/?random"></ion-img>
            </div>
            <ion-card-header>
              <ion-card-title>Hello World</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>The content for this card</p>
            </ion-card-content>
            <div class='padding' padding>
              <div class="left">
                  <small>13/08/2015</small>
              </div>
              <div class="right">
                <b>
                  <ion-icon cname="person"></ion-icon>
                  <span>Rutherford</span>
                </b>
              </div>
              <div class="clearfix"></div>
            </div>
        </ion-card>
    </ion-list>
  


  </ion-content>
